/* CSS declarations go here */
.imagem_logo{
	width: 30%;
	height: 30%;	
	margin-top: 5%;
}

input.error{
	background-color: rgb(255, 231, 231);
}

.botao_roxo {
    padding: 5px 22px;
    background: #9d426b;
    color: #fff;
    font-style: italic;    
}

.container_botoes {
	margin-top: 20px;
	margin-left: 1100px;	
	padding-bottom: 20px;
}


input[type="submit"]:hover, input[type="submit"]:focus { color: #999; }

.header h1 {
    float: left;
    margin: 0;
    text-align: left;
}

.header a.brand {
    display: inline-block;
    text-indent: -9999px;
    width: 50px;
    height: 63px;
    padding: 40px 60px;
    background: url(/images/Talk-icon.png) 20px center no-repeat;
    background-size: 85px 45px;
}

.header ul.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.header ul.nav li a {
    padding: 30px 20px 10px 20px;
    color: #5d5d5d;
    text-shadow: none;
}

.header ul.nav li.current-page a {
    padding-top: 25px;
    border-top: 5px solid #9d426b;
    background: #f8f8f8;
}

.header ul.nav li a:hover i { color: #fff; }

.header ul.nav li a:hover {
    background: #9d426b;
    color: #fff;
}

.header .navbar-inner {
    background: #f4f4f4;
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.slider {
    margin: 0 auto;
    background: #f8f8f8 url("/images/pattern.jpg") left top repeat;
    -moz-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    height: 550px;
    box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
}

.what-we-do .service {
    padding-bottom: 23px;
    background: #fff;
    border-bottom: 2px solid #9d426b;
}

.what-we-do .service a {
    padding: 5px 22px;
    background: #9d426b;
    color: #fff;
    font-style: italic;
    text-decoration: none;
    -moz-box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

.what-we-do .service a:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #999;
}

.what-we-do .service a:active {
    -moz-box-shadow:
        0 5px 10px 0 rgba(0,0,0,.15) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 5px 10px 0 rgba(0,0,0,.15) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 5px 10px 0 rgba(0,0,0,.15) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

.contact-us {	
    margin-top: 20px;
    padding-bottom: 50px;
    text-align: left;
}

.contact-us form label {
    margin-top: 10px;
    font-size: 13px;
}

.contact-us form button {
    width: 120px;
    height: 30px;
    margin-top: 15px;
    background: #9d426b;
    border: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #fff;
    -moz-box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.contact-us form button:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #999;
}

.contact-us form button:active {
    -moz-box-shadow:
        0 5px 10px 0 rgba(0,0,0,.15) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 5px 10px 0 rgba(0,0,0,.15) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 5px 10px 0 rgba(0,0,0,.15) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

.page-title {
    margin: 0 auto;
    padding: 30px 0 35px 0;
    background: #9d426b url(../img/pattern.jpg) left top repeat;    
    -moz-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    text-align: left;
}

.page-title h2 {
    display: inline;
    margin-left: 10px;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #5d5d5d;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    vertical-align: middle;
}

.page-title p {
    display: inline;
    margin-left: 5px;
    font-size: 14px;
    font-style: italic;
    vertical-align: middle;
}

.page-title-icon {
    margin-left: 20px;
    font-size: 46px;
    color: #ccc;
    vertical-align: middle;
}

.hora-factalk{
	float:right;
}

.data-factalk{
	float:left;
}

.links-table{
    color: #9d426b;
    text-align: center;
}